
.best_goods .hd{
    height: 31px;
    border-bottom: 1px solid rgba(0,0,0,0.18);
}
.best_goods .hd h3{
    float: left;
    height: 28px;
    padding: 3px 10px 0 10px;
    font-size: 14px;
    line-height: 28px;
    font-weight: normal;
}
.best_goods .hd .more{
    float: right;
    height: 28px;
    padding: 3px 10px 0 0;
    line-height: 28px;
}
.best_goods .bd{
    height:auto;
    padding: 10px 0;
}
.product_list li{
     position: relative;
     float: left;
     width: 180px;
     margin: 0 15px 15px 0;
     transition:opacity 0.35s ease-out;
 }
.product_list li .name{
    position: relative;
    z-index: 10;
    float: left;
    height: 19px;
    width: 110px;
    overflow: hidden;
    margin-top: 5px;
}
.product_list li .price{
    position: relative;
    z-index: 10;
    float: right;
    height: 19px;
    width: 70px;
    overflow: hidden;
    margin-top: 5px;
}
.product_list li:last-child{
    margin-right:0;
}
.product_list ul:hover li{
    opacity: 0.5;
}
.photo{
    display: block;
    transition:all 0.35s ease-out;
}
.product_list ul li:hover{
    opacity: 1;
}
.product_list ul li:hover .photo{
    z-index: 10;
    opacity: 1;
    transform:scale(1.3);

}
.product_list li img{
    height: 180px;
    width: 180px;
}